<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<h2>Owners</h2>

<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">FirstName</th>
        <th style="width: 150px;">LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <th th:text="${owner?.id}">1</th>
        <th th:text="${owner?.firstName}">Joe</th>
        <th th:text="${owner?.lastName}">Buck</th>
    </tr>
    </tbody>
</table>

</body>
</html>