<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>FirsName</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <th th:text="${vet?.id}">1</th>
        <th th:text="${vet?.firstName}">Jane</th>
        <th th:text="${vet?.lastName}">Doe</th>
    </tr>
    </tbody>
</table>

</body>
</html>