<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h1 th:text="'List of Vets'"></h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FirsName</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <th th:text="${vet?.id}">1</th>
        <th th:text="${vet?.firstName}">Jane</th>
        <th th:text="${vet?.lastName}">Doe</th>
    </tr>
    </tbody>
</table>

</body>
</html>